/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/* Categories */

@media (max-width: 600px) {
  .category_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 1;
    position: relative;
    background-color: #d43f41;
    color: #fffbef;
    gap: 10px;
    border-radius: 25px;
  }
  .card img {
    display: none;
  }
  .text {
    padding: 15px;
  }
  p {
    display: none;
  }
}

@media (min-width: 600px) {
  .category_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 1;
    position: relative;
    background-color: #d43f41;
    color: #fffbef;
    gap: 10px;
    border-radius: 25px;
  }

  .card img {
    border-radius: 25px 25px 0 0;
  }

  .text {
    padding: 15px;
  }
}

.center {
  text-align: center;
}
