/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/* Hero */
.hero {
  display: grid;
  position: relative;
  top: -230px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}

.hero img:nth-child(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.hero img:nth-child(2) {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  align-self: end;
  max-width: 100%;
}

.hero a {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}
main {
  position: relative;
  top: -280px;
}

.card {
  transition: transform 0.3s ease;
  display: inline-block;
}

.card:hover {
  transform: scale(1.1);
}
.card a:hover {
  color: #d43f41;
  background-color: #fffbef;
  border-color: #d43f41;
  border-style: solid;
  border-radius: 26px;
}

.card img,
.card .text {
  transition: transform 0.3s ease;
}
.intro {
  position: relative;
  top: -160px;
}
p {
  font-family: "Cherry Bomb One", serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-inline: 300px;
  background-color: #d43f41;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 25px;
  color: #fffbef;
}
h1 {
  margin-inline: 180px;
  padding-bottom: 20px;
  text-align: center;
}
/* Categories */

@media (max-width: 700px) {
  .hero {
    top: -90px;
  }
  main {
    top: -80px;
  }
  .category_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 1;
    position: relative;
    background-color: #d43f41;
    color: #fffbef;
    gap: 10px;
    border-radius: 25px;
  }
  .card img {
    display: none;
  }
  .text {
    padding: 15px;
  }
}

@media (min-width: 700px) {
  .category_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 1;
    position: relative;
    background-color: #d43f41;
    color: #fffbef;
    gap: 10px;
    border-radius: 25px;
  }

  .card img {
    border-radius: 25px 25px 0 0;
  }

  .text {
    padding: 15px;
  }
}

.center {
  text-align: center;
}
