.product_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding-top: 30px;
}

.ingredients_container {
  background-image: url(ingre.svg);
  background-size: cover;
  object-fit: cover;
  aspect-ratio: 532/734;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 10px;
  justify-content: center;
  gap: 10px;
}

.ingredients_container h2 {
  margin-left: 5vw;
  margin-top: 1vw;
  color: white;
  font-size: 2rem;
}

.ingredients_container ul {
  margin-left: 5vw;
  color: white;
}

@media screen and (max-width: 680px) {
  .product_container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .ingredients_container h2 {
    margin-left: 13vw;
    margin-top: 1vw;
    color: white;
    font-size: 2rem;
  }

  .ingredients_container ul {
    margin-left: 15vw;
    color: white;
  }
}
.recipe_card {
  padding-top: 30px;
}
.recepe_image img {
  border-radius: 25px;
  height: 500px;
  object-fit: cover;
}
.hide {
  display: none;
}

.ingredients_container li {
  list-style: none;
  font-family: "Chenla", sans-serif;
  font-size: 1.1rem;
}

p {
  font-size: 1.3rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
